@(tents: List[Tent])

@views.html.master.main(Messages("nav.tents"))(2) {
} {
    @views.html.tent.modalDelete()

    <div class="row">
        <div class="col-xs-12">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                @flash.get("success")
                </div>
            }
            @if(flash.containsKey("error")) {
                <div class="alert alert-danger">
                @flash.get("error")
                </div>
            }

            <div class="widget-box light-border widgetTentList">

                <form method="get" action="@routes.Tents.neu">
                    <div class="widget-header widget-header-flat">
                        <h4 class="widget-title ">
                        @Messages("h.tents")
                        </h4>
                        <div class="widget-toolbar no-border">
                            <button type="submit" class="btn btn-white btn-primary btn-xs"><b>@Messages("btn.newTent")</b></button>
                        </div>
                    </div>
                </form>

                <div class="widget-body">
                    <div class="widget-main no-padding">

                        <table class="table">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th>@Messages("t.tent")</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                            @for(tent <- tents) {
                                <tr>
                                    <td>@tent.name</td>

                                    <td class="align-right">
                                        <div class="action-buttons">

                                            <a class="text-primary" href="@routes.Tents.neuFromTemplate(tent.id)">
                                                <i class="ace-icon fa fa-plus bigger-130"></i>
                                                @Messages("btn.newTentFromTemplate")
                                            </a>

                                            <a class="text-primary" href="@routes.Tents.edit(tent.id)">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                @Messages("btn.edit")
                                            </a>

                                            <a class="text-danger linkDeleteTent" data-toggle="modal" href=""
                                            data-deleteUrl="@routes.Tents.delete(tent.id)"
                                            data-tentName="@tent.name" data-target="#modalDeleteTent">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                @Messages("btn.delete")
                                            </a>

                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>

                        </table>

                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->

            <!-- page content goes here -->
        </div>
    </div>
} {
    <script src='@routes.Assets.at("js/tentList.js")'></script>
}