@(tentId : Long)

@views.html.master.main(Messages("h.editTent"))(2) {
} {
    <div class="page-header">
        <h1>
        @Messages("h.newTentFromTemplate")
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">

        @helper.form(action = routes.Tents.add(), 'class -> "form-horizontal", 'role -> "form", 'id -> "form") {

            @views.html.tent.form(tentId)

            <div class="clearfix form-actions">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">@Messages("btn.addTent")</button>
                        &nbsp;
                    <a class="btn" type="reset" href="@routes.Tents.list">@Messages("btn.back")</a>
                </div>
            </div>
        }

        </div>
    </div>
} {
    <script src='@routes.Assets.at("js/tentCommon.js")'></script>
    <script src='@routes.Assets.at("js/tentEdit.js")'></script>
}