@(tabNumber: Int)

@import com.feth.play.module.pa.views.html._

<div id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-container" id="navbar-container">

        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <img src='@routes.Assets.at("img/klost.png")'>
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header" role="navigation">
            <ul class="nav ace-nav">

                <li class='@if(tabNumber.equals(0)) {} else {transparent}'>
                    <a href='@routes.App.calendar("TODAY")'>
                        <i class="ace-icon fa fa-calendar-o"></i>
                        @Messages("nav.cal")
                    </a>
                </li>

                <li class='@if(tabNumber.equals(1)) {} else {transparent}'>
                    <a href='@routes.App.store("TOMORROW")'>
                        <i class="ace-icon fa fa-cubes"></i>
                        @Messages("nav.store")
                    </a>
                </li>
                @currentAuth() { auth =>
                    @if(LoggedAdmin.isAdminId(auth.getId())){
                        <li class='@if(tabNumber.equals(2)) {} else {transparent}'>
                            <a href='@routes.Tents.list()'>
                                <img src='@routes.Assets.at("img/tent.png")' width="24" height="24">
                                @Messages("nav.tents")
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="transparent">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src='@session.get("picture")' alt="Users's profile picture" />
                        <span class="user-info">
                            <small>
                            @currentAuth() { auth =>
                                @if(LoggedAdmin.isAdminId(auth.getId())){
                                    @Messages("nav.admin")
                                }else{
                                    @Messages("nav.storeman")
                                }
                            }
                            </small>
                            @session.get("username")
                        </span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-caret dropdown-closer">
                        <li>
                            <a href='@com.feth.play.module.pa.controllers.routes.Authenticate.logout'>
                                <i class="ace-icon fa fa-power-off"></i>
                                @Messages("btn.logout")
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>


