<div id="popoverStrmn" class="hide">
    <form class="form-horizontal" role="form">

        <div class="form-group" >
            <div class="col-sm-6" data-bind="attr: { class: event().isDownloadDocBtnVisible() ? 'col-sm-6' : 'col-sm-6 hide' }">
                <a class="btn btn-white btn-inverse btnPopover" onclick="removePopovers ( )"
                href data-bind="attr: { href: '/contract/' + event().eventType() + '/' + event().id() }">
                    <i class="ace-icon fa fa-file bigger-110"></i>
                    <!--ko text: event().downloadDocText--><!--/ko-->
                </a>
            </div>

            <div class="col-sm-6">
                <a class="btn btn-sm btn-info btnPopover" href data-bind="attr: { href: '/event/storeman/' + event().eventType() + '/' + event().id() }">
                    <i class="ace-icon fa fa-pencil bigger-110"></i>
                    @Messages("btn.edit")
                </a>
            </div>
        </div>

    </form>
</div>