@(date: String)

@import com.feth.play.module.pa.views.html._
@import com.typesafe.config.ConfigFactory

@views.html.master.main(Messages("nav.cal"))(0) {

    @views.html.master.datepicker()

    <div class="row">
        <div class="col-xs-12">
            <blockquote class="pull-right" style="font-size: 14px;">
                <p id="pMouseOverEvent"></p>
            </blockquote>
        </div>
    </div>
} {
    @views.html.event.popoverNew()

    @views.html.event.popoverClick()

    @views.html.event.popoverStrmn()

    @views.html.event.modalDelete()

    <div id="calIds"
        data-calIdsAction='@ConfigFactory.load().getString("calIds.action")'
        data-calIdsReservation='@ConfigFactory.load().getString("calIds.reservation")'
        data-calIdsInstallation='@ConfigFactory.load().getString("calIds.installation")'
        data-calIdsSelftransport='@ConfigFactory.load().getString("calIds.selftransport")'>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="fullcalendar" data-date="@date"></div>
        </div>
    </div>
} {
    <script src='@routes.Assets.at("js/calendarCommon.js")'></script>
    @currentAuth() { auth =>
        @if(LoggedAdmin.isAdminId(auth.getId())) {
            <script src='@routes.Assets.at("js/calendarAdmin.js")'></script>
        } else {
            <script src='@routes.Assets.at("js/calendarStrmn.js")'></script>
        }
    }
}